[submodule "apps/qr"]
	path = static/apps/qr
	url = https://github.com/bmoneill/qr
[submodule "apps/ca"]
	path = static/apps/ca
	url = https://github.com/bmoneill/ca
[submodule "apps/investcalc"]
	path = static/apps/investcalc
	url = https://github.com/bmoneill/investcalc
[submodule "articles"]
	path = articles
	url = https://github.com/bmoneill/articles
[submodule "apps/bfi-js"]
	path = static/apps/bf
	url = https://github.com/bmoneill/bfi-js
[submodule "themes/not-much"]
	path = themes/not-much
	url = https://github.com/imgios/not-much.git
