[submodule "apps/qr"]
	path = apps/qr
	url = https://github.com/boneill02/qr
[submodule "apps/ca"]
	path = apps/ca
	url = https://github.com/boneill02/ca
[submodule "apps/investcalc"]
	path = apps/investcalc
	url = https://github.com/boneill02/investcalc
[submodule "articles"]
	path = articles
	url = https://github.com/boneill02/articles
[submodule "apps/bfi-js"]
	path = apps/bfi-js
	url = https://github.com/boneill02/bfi-js
