name: Deploy

on:
  push:
    branches: [main hugo]

  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Updating website.
        uses: appleboy/ssh-action@master
        with:
          host: oneill.sh
          username: www
          key: ${{ secrets.wwwssh }}
          passphrase: ${{ secrets.wwwpass }}
          port: 22
          script: |
            cd src
            git stash
            git pull --force origin main
            git submodule update
            hugo -s . -d /var/www/hugo/ --cacheDir ~/hugocache
